.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}
.section-features {
  padding: 20rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(#7ed56f, 0.797),
      rgba(#28b485, 0.795)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;

  transform: skewY(-7deg);
  & > * {
    transform: skewY(7deg);
  }
  margin-top: -10rem;
}
